@import "/css/lightmode.cssS";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgg-color) !important;
  font-family: Arial, sans-serif;
  margin-bottom: 3000px;
}

.navbar-wrapper {
  width: 100%;
  height: 78px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
}
.nav-bar {
  height: 70px;

  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--bgg-color-blue) !important;
}
.navbar-shadow {
  width: 100%;
  height: 8px;
  background-color: #00283a55;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.invisible-container {
  height: 70px;
}
.nav-bar-left {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.nav-bar-right {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: row;
}
.nav-bar-right div,
.nav-bar-left div {
  height: 100%;
  flex: 1;
  color: var(--bgg-color-font);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-bar-right div:hover,
.nav-bar-left div :hover {
  opacity: 0.5;
  transition: 0.8s;
}

.wrapper {
  display: flex;
  justify-content: center;
  z-index: 100;
}
.main-offset {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  position: relative;
}
.main-offset .mo-content {
  z-index: 1000;
  width: 100%;
  display: flex;
}
.main-offset .mo-block {
  height: 100%;
}
.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.flex {
  display: flex;
  width: 100%;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.card-wrapper {
  width: 100%;
  height: 780px;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-180%, -50%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 150px;
}
.card {
  width: 100%;
  height: calc(100% - 10px);

  background-color: var(--bgg-color-blue) !important;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  color: var(--bgg-color-font) !important;
}
.card::-webkit-scrollbar {
  display: none;
}
.smallcard {
  display: block;
  content: "";
  width: calc(100% - 60px);
  height: 8px;
  background-color: #00283a63;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-third {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 30px;
}
.card-third div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-third div p {
  font-size: 12px;
  font-weight: bold;
}
.second-text {
  font-size: 16px;
  font-weight: 100;
  color: #747474;
}
.body-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.body-container::after {
  content: "";
  height: 530px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/logo-img/mountain.png");
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  z-index: -1;
}
.wrapper {
  width: 1480px;
  padding-top: 90px;
}
.layout-default {
  width: 100%;
  display: flex;
  gap: 150px;
}
.layout-default-bar {
  width: 350px;
}
.layout-default-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.sub-title-btn {
  height: 28px;
  width: 118px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #fff;
  color: var(--bgg-color-font);
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
.animated-btn {
  display: flex;
  gap: 8px;
}
.animation-swing {
  display: block;
  position: relative;
  animation: animation-swing 1s infinite;
}

@keyframes animation-swing {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(8px);
    opacity: 0.5;
  }
}
.main-first-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--bgg-color-font);
  margin-bottom: 95px;
}
.main-second-div {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.number-icon {
  margin-top: 35px;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.number-create-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.number-create-div {
  background-color: var(--bgg-color-blue);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 20px;
}
.number-create-div p {
  color: var(--bgg-color-font);
}
.number-icon p {
  display: inline-block;
  color: var(--bgg-color-font);
  font-size: 26px;
}
.created-project-text {
  font-weight: 600;
}
.border-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: var(--bgg-color-font) !important;
  font-size: 16px;
  font-weight: bold;
}
.main-third-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--bgg-color-blue) !important;
  color: var(--bgg-color-font) !important;
  width: 100%;
  height: 130px;
  border-radius: 30px;
}
.main-fourth-div {
  width: 100%;
  height: 380px;
  /* background-image: url(/logo-img/wallhaven-rrezx7_1920x1080.png); */
  overflow: hidden;
  object-fit: cover;
}
.main-fifth-div {
  width: 100%;
  height: 540px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 40px;
  margin-bottom: 80px;
}
.main-fifth-div div {
  background-color: var(--bgg-color-blue) !important;
  border-radius: 10px;
}
.fifth-content {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.order-button {
  background-color: transparent;
  font-size: 16px;
  border: none;
  color: #ff8181;
}

.front {
  position: relative;
}
canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#videoPlayer {
  width: 400px;
  margin: auto;
  text-align: center;
}
.main-sixth-div {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 431px;

  gap: 20px;
}
#mode-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 10px;
  background: none;
  border: none;
}
#mode-switch span {
  display: flex;
  align-items: center;
}
#mode-switch .dot {
  width: 36px;
  height: 16px;
  border-radius: 14px;
  border: 1px solid var(--bgg-color-font);
  position: relative;
}
#mode-switch .dot::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #ff8181;
  display: block;
  position: absolute;
  right: 0;
  transition: 0.5s all;
}
#mode-switch.active .dot::after {
  left: 0;
}
#mode-switch.active svg path {
  stroke: var(--bgg-color-font);
}
