* {
  --bg-color-black: #000;
  --bg-color-white: #fff;
  --bg-color-blue: #00283a;
  --bg-color: #02162b;
}
.light * {
  /* OVERWRITING EXISTING VARS WITH NEW VALUES */
  --bg-color-black-34: rgba(255, 255, 255, 0.342);
  --bg-color-white: #fff;
  --bg-color-blue: #fff;
  --bg-color: #f4f5f7;
}

.shimmer {
  color: grey;
  display: inline-block;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300%
    100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
}
@keyframes shimmer {
  0% {
    -webkit-mask-position: left;
  }
  50% {
    -webkit-mask-position: right;
  }
  100% {
    -webkit-mask-position: left;
  }
}
